@model Pet
<form asp-controller="Pet" asp-action="Create" method="post">
    <input placeholder="CustomerName" asp-for="CustomerName" />
    <input placeholder="AnimalName" asp-for="AnimalName" />
    <input placeholder="Mail" asp-for="Mail" />
    <input placeholder="Note" asp-for="Note" />
    <button type="submit"> Submit</button>
</form>



